<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="TheSaucisseFactory" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1bb6d7cccf1045ec" />
  </configSections>
  
  <TheSaucisseFactory connectionString="Server=tcp:to8uonepac.database.windows.net,1433;Database=import;User ID=energyhack@to8uonepac;Password=@saucisse78;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  
  <appSettings>
    <clear/>
    <add key="CamelWebRequestTimeout" value="5000"/>

    <add key="CamelServiceUserName" value="NRJHack"/>
    <add key="CamelServicePassword" value="x52jSh6Ur3S"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
