<?xml version="1.0" encoding="utf-8" ?>
<!-- [%=Producer.GetSignature()%] -->
<configuration>
	<configSections>
		<section name="[%=Producer.Project.DefaultNamespace%]" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
	</configSections>
	<[%=Producer.Project.DefaultNamespace%] connectionString="[%=Producer.Project.DefaultConnectionString%]" />
	<system.web>
		<webServices>
			<wsdlHelpGenerator href="SortedWsdlHelpGenerator.aspx"/>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<add name="HttpPostLocalhost"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
