<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="CamelWebRequestTimeout" value="5000"/>
    
    <add key="CamelServiceUserName" value="NRJHack"/>
    <add key="CamelServicePassword" value="x52jSh6Ur3S"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
