@model System.String
@Html.Password("Password", Model, new { @class = "Password", data_val = "true", data_val_required = "Le champ ne peut être vide." })
confirmation :  
@Html.Password("Confirm", Model, new {  data_val = "true", data_val_equalto_other = "*.Password", data_val_equalto = "Les mots de passe ne correspondent pas." })
<span class="field-validation-valid"
    data-valmsg-for="Password" data-valmsg-replace="true"></span>