[%@ template language="CSharp"%]<?xml version="1.0" encoding="utf-8" ?>
<!-- [%=Producer.GetSignature()%] -->
<configuration>
	<configSections>
		<section name="[%=Producer.Project.DefaultNamespace%]" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
	</configSections>
	<[%=Producer.Project.DefaultNamespace%] connectionString="[%=Producer.Project.DefaultConnectionString%]" contentDisposition="[%=Producer.BinaryLargeObjectContentDisposition%]"/>
<appSettings>
    <add key="TraceRanges" value="*;tracelevels=true;tracemethodname=true;tracetypename=false;enabled=[%=Producer.Project.IsInternalTraceEnabled%];" />
</appSettings>
<system.web>
	<webServices>
		<wsdlHelpGenerator href="SortedWsdlHelpGenerator.aspx"/>
		<protocols>
			<add name="HttpSoap"/>
			<add name="HttpGet"/>
			<add name="HttpPost"/>
			<add name="HttpPostLocalhost"/>
			<add name="Documentation"/>
		</protocols>
	</webServices>
	<httpHandlers>
         <add verb="GET"
			path="[%=CodeFluent.Runtime.Web.UI.BinaryLargeObjectHttpHandler.HandlerPath%]"
			type="[%=Producer.WebControlsProducer.HttpHandlerNamespace + "." + Producer.WebControlsProducer.HttpHandlerTypeName + ", " + System.IO.Path.GetFileNameWithoutExtension(Producer.WebControlsProducer.OutputName)%]"
			/>
     </httpHandlers>
	<globalization culture="[%=Culture.Name%]" uiCulture="[%=Culture.Name%]" requestEncoding="[%=Producer.OutputEncoding.WebName%]" responseEncoding="[%=Producer.OutputEncoding.WebName%]" />
</system.web>
</configuration>
