<?xml version="1.0" encoding="utf-8" ?>
<!-- [%=Producer.GetSignature()%] -->
<configuration>
	<system.web>
		<webServices>
			<wsdlHelpGenerator href="SortedWsdlHelpGenerator.aspx"/>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<add name="HttpPostLocalhost"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<globalization culture="[%=Culture.Name%]" uiCulture="[%=Culture.Name%]" />
	</system.web>
</configuration>
