@model CodeFluent.Runtime.ICodeFluentSet
@{
    var l_list = TheSaucisseFactory.Web.EntityBinder.BuildSortedMultiList(ViewBag, Model);

    foreach (SelectListItem l_listItem in l_list)
    {
        if (l_listItem.Selected)
        {
    <p>@l_listItem.Text</p>
        }
    }
}
